head 
    style
        include ./information.css



body 
    div 
        table
            tr
                td   
                    b  Fornavn: 
                td 
                    input(type="text" placeholder="Fornavn")
            tr 
                td 
                    b Efternavn: 
                td 
                    input(type="text" placeholder="Efternavn")
            tr 
                td 
                    b Mail: 
                td 
                    input(type="text" placeholder="Mail")
            tr
                td  
                    b Telefonnummer: 
                td 
                    input(type="text" placeholder="88888888")

    div  
        b Betalingsform 
        input(list="betalingsmetoder")
        datalist(id="betalingsmetoder")
            option(value="Mobilepay")
            option(value="Visa")
            option(value="Mastercard")   
        


    div 
        b Ønsker til lokation eller andre ønsker
    div 
        textarea(name="tfxOensker", cols="30", rows="10", placeholder="Jeg kunne godt tænke mig...")
    div 
        button Til betaling ->



