html
    head 
        style
            include ./information.css

        script.
            async function post(url, objekt) { 
                const respons = await fetch(url, { 
                method: "POST", 
                body: JSON.stringify(objekt), 
                headers: { 
                'Content-Type': 'application/json'                         
                    } 
                }); 

                if (respons.status !== 201) // Created 
                throw new Error(respons.status); 
                return await respons.text(); 
            } 

            let betalingClickFunction = async () => { 
                try {
                    let navn = document.getElementById("navn").value
                    let efternavn = document.getElementById("efternavn").value
                    let mail = document.getElementById("mail").value
                    let tlfnr = document.getElementById("tlf").value
                    let ønsker = document.getElementById("ønsker").value
                    await post("http://localhost:8080/bookInformation", {navn : navn, efternavn : efternavn, mail : mail, tlfnr : tlfnr, ønsker : ønsker}); 
                    window.location.href = "http://localhost:8080/";
                }
                catch (e) {
                    console.log("Fejl");
                }
            }
        
        title Information 

    body 
        div 
            b #{bookingDato}
            table
                tr
                    td   
                        b  Fornavn: 
                    td 
                        input(id="navn" type="text" placeholder="Fornavn")
                tr 
                    td 
                        b Efternavn: 
                    td 
                        input(id="efternavn" type="text" placeholder="Efternavn")
                tr 
                    td 
                        b Mail: 
                    td 
                        input(id="mail" type="text" placeholder="Mail")
                tr
                    td  
                        b Telefonnummer: 
                    td 
                        input(id="tlf" type="text" placeholder="88888888")

        div  
            b Betalingsform 
            input(list="betalingsmetoder" value="Mobilepay")
            datalist(id="betalingsmetoder")
                option(value="Mobilepay")
                option(value="Visa")
                option(value="Mastercard")   



        div 
            b Ønsker til lokation eller andre ønsker
        div 
            textarea(id="ønsker" name="tfxOensker", cols="30", rows="10", placeholder="Jeg kunne godt tænke mig...")
        div 
            button(id="Betaling" onclick='betalingClickFunction()') Til betaling ->

    
                    



