html
    head
        title Kalender 
    body
        label Vælg produkt 
        input 
        datalist 
            option value = "Familieportræt"
            option value = "Bryllup"
            option value = "Pugstars!"

        label 2022





//- <label for="ice-cream-choice">Choose a flavor:</label>
//- <input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice">

//- <datalist id="ice-cream-flavors">
//-     <option value="Chocolate">
//-     <option value="Coconut">
//-     <option value="Mint">
//-     <option value="Strawberry">
//-     <option value="Vanilla">
//- </datalist>
