html
    head
        title Kalender 
    body
        div
            label Vælg produkt 
            input(list = "Produkttyper")
            datalist(id = "Produkttyper")
                option(value = "Familieportræt")
                option(value = "Bryllup")
                option(value = "Pugstars!")
        div
            label(id = "Årstal") 2022
            button(id = "Tilbage") <- tilbage
            label(id = "Uge") uge 1
            button(id = "Frem") frem ->
            table(id = "Kalender") 
                tr 
                    td Mandag
                    td Tirsdag
                    td Onsdag
                    td Torsdag
                    td Fredag
                    td Lørdag 
                    td Søndag
                
            
            
        button(id = "Videre") videre ->

