.grid-containerHori{
    display: inline-grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: auto;

    grid-auto-flow: column;
    background-color: beige;
    justify-items: center; 
    padding: 30px;
    gap: 50px;
}

.grid-containerHori{
    border-color: antiquewhite;
    border: 2px solid;
    border-collapse: collapse;
}

.grid-containerVert{
    display: inline-grid;
    grid-template-columns: repeat(8, 50px);

    grid-template-rows: repeat(9, 30px);
    grid-auto-flow: column;
    background-color: beige;
    justify-items: center; 
    padding: 30px;
    gap: 50px;
}

.grid-containerVertTider{
    display: inline-grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 70px 70px 70px 70px 70px;
    grid-auto-flow: column;
    background-color: rgb(5, 5, 1);
    justify-items: center; 
    padding: 50px;
    gap: 50px;
}

.grid-containerVert{
    border-color: antiquewhite;
    border: 2px solid;
    border-collapse: collapse;
}
