html

    head
        style 
            include ./statistik.css
        title Statistik

    body 

    center
        div
            label Produkttype
            input(list = "Produkttyper")
            datalist(id = "Produkttyper")
                option(value = "Familieportræt")
                option(value = "Bryllup")
                option(value = "Pugstars!")
                option(value="halløj") 

    center                  
        div
            label Statistik for måned
            input(list = "Måneder")
            datalist(id = "Måneder")
                option(value = "Januar")
                option(value = "Februar")
                option(value = "Marts")
                option(value = "April")
                option(value = "Maj")
                option(value = "Juni")
                option(value = "Juli")
                option(value = "August")
                option(value = "September")
                option(value = "Oktober")
                option(value = "November")
                option(value = "December")

 
        div
            label Antal 
            //varighed = new ... get
    
  
        div
            label Varighed
            //varighed = new ... get