html

    head
        style 
            include ./statistik.css
            include ./statistik.js
        title Statistik

    body 

    center                  
        div
            label Statistik for måned <p>
            input(list = "Måneder")
            datalist(id = "Måneder")
                option(value = "Januar")
                option(value = "Februar")
                option(value = "Marts")
                option(value = "April")
                option(value = "Maj")
                option(value = "Juni")
                option(value = "Juli")
                option(value = "August")
                option(value = "September")
                option(value = "Oktober")
                option(value = "November")
                option(value = "December")

    center
        div
            p   

    center
        div
            label Produkttype <p>
            input(list = "Produkttyper")
            datalist(id = "Produkttyper")
                option(value = "Familieportræt")
                option(value = "Bryllup")
                option(value = "Pugstars!")
                option(value="halløj") 

    center
        div
            p   

 
        div
            label Antal: 
            Textarea antal af produkttype for valgt tid
            //      HOW to make an output field ?? 
            //var txtFieldAntal = item.appendChild(document.createElement('textarea'));
            //varighed = new ... get
    
    center
        div
            p   
  

        div
            label Samlet tidsforbrug: 
            Textarea gennemsnitligt tidsforbrug for valgt produkttype/måned
            //      HOW to make an output field ?? 
            //varighed = new ... get

    center 
        div 
            img(src='./statistik' + ministudiet)        