html

    head
        style 
            include ./statistik.css
            include ./statistik.js
        title Statistik

    body 

    center                  
        div
            label Statistik for måned <p>
            input(list = "Måneder")
            datalist(id = "Måneder")
                option(value = "Januar")
                option(value = "Februar")
                option(value = "Marts")
                option(value = "April")
                option(value = "Maj")
                option(value = "Juni")
                option(value = "Juli")
                option(value = "August")
                option(value = "September")
                option(value = "Oktober")
                option(value = "November")
                option(value = "December")

    center
        div
            p   

    center
        div
            label Produkttype <p>
            input(list = "Produkttyper")
            datalist(id = "Produkttyper")
                option(value = "Familieportræt")
                option(value = "Bryllup")
                option(value = "Pugstars!")
                option(value="halløj") 

    center
        div
            br

 
        div
            label Antal: 
                input(type="text" name="title" placeholder="Antal af produkttypen")
                // How? GUI: Beholde input-feltet
                // Lav en getAntal-metode der looper igennem hhv. dage i valgt måned + bookingerness produkttyper (gem i var-array)
                // ^ Metode kaldes når begge feltet er udfyldt via drop down
            
    center
        div
            br   

    center
        div
            br   

        div
            label Samlet tidsforbrug: 
                input(type="text" name="title" placeholder="Samlet tidsforbrug")
                // How? GUI: Beholde input-feltet
                // Lav en getSamletTid-metode der looper igennem var-array(lavet i metoden^) og summerer objekt.tidMin og gemmer det i en var.
                // ^ Metode kaldes når begge feltet er udfyldt via drop down    
                // ^ OBS vigtigt getAntal kaldes før getSamletTid

    //- center 
    //-     div 
    //-         img(src='./statistik' + ministudiet)        
    //-             //img(src='./statistik' style='width:1000px; height:300px;'+ ministudiet.jpeg)
            