html

    head
        style 
            include ./statistik.css

        script.
            async function post(url, objekt) { 
                const respons = await fetch(url, { 
                method: "POST", 
                body: JSON.stringify(objekt), 
                headers: { 
                'Content-Type': 'application/json' 
                    } 
                }); 

                if (respons.status !== 201) // Created 
                throw new Error(respons.status); 
                return await respons.text(); 
            } 
 
            let inputFunction = async () => {
                try {
                    let måned = document.getElementById("Måneder").value
                    let type = document.getElementById("Produkttyper").value

                    console.log(måned);
                    console.log(type);
                    if (måned != "" && type != ""){
                        await post("http://localhost:8080/postStatistics", {måned : måned, type : type});
                        window.location.href = "http://localhost:8080/statistik";
                    }
                }catch (e) {
                        console.log("Fejl");
                }
            }

        title Statistik

    body 

    center                  
        div
            label Statistik for måned <p>
            select(id = "Måneder" onchange="inputFunction()")
                option(value="")  
                option(value = "Januar") Januar 
                option(value = "Februar") Februar
                option(value = "Marts") Marts
                option(value = "April") April
                option(value = "Maj") Maj
                option(value = "Juni") Juni
                option(value = "Juli") Juli
                option(value = "August") August
                option(value = "September") September
                option(value = "Oktober") Oktober
                option(value = "November") November
                option(value = "December") December

    center
        div
            p   

    center
        div
            label Produkttype <p>
            select(id = "Produkttyper" onchange="inputFunction()")
                option(value="") 
                option(value = "Familieportræt") Familieportræt
                option(value = "Afklaringssamtale") Afklaringssamtale

    center
        div
            br

 
        div
            label Antal: 
                input(id="Antal" type="text" name="title" placeholder="Antal af produkttypen" value=antal)
            
    center
        div
            br   

    center
        div
            br   

        div
            label Samlet tidsforbrug: 
                input(id="SamletTid" type="text" name="title" placeholder="Samlet tidsforbrug" value=samletTid)

            